*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    width: 99.9%;
    height: 100em;
}
.container{
    width: 85%;
    height: 90em;
    border: 1px black solid;
    position: absolute;
    left: 7.5%;
    top: 10%;
}
.container h1{
    color: rgb(95, 95, 95);
    font-size: 3em;
}
.texto{
    color:rgb(109, 109, 109);
    font-size: 1.3em;
    line-height: 2em;
    margin-top: 4em;
}
.titulo{
    font-size: 1.06em;
    color: gray;
}
.container img{
    width: 100%;
    height: 35em;
    margin-top: 3em;
}

/*FOOTER*/
footer{
    width: 100%;
    height: 500px;
    background-color: rgb(234, 234, 234);
}
footer img{
    width: 350px;
    height: 200px;
}
.sim{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 200px;
    position: relative;
    top: 50px;
    left: 200px;
}
.titulo{
    position: relative;
    top: 40px;
    left: 200px;
    display: flex;
    gap: 485px;
}
.textos{
    width: 1450px;
    height: 200px;
    display: flex;
    position: relative;
    top: 50px;
    left: 200px;
    gap: 190px;
}
#button, #button2, #button3{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: lightgrey;
    color: rgba(32,33,36,1);
    font-weight: bold;
}
#button{
    position: relative;
    bottom: 50px;
    margin-left: 190px;
}
#button2{
    position: relative;
    bottom: 50px;
    margin-left: 470px;
}
#button3{
    position: relative;
    bottom: 50px;
    margin-left: 470px;
}
#button:hover, #button2:hover, #button3:hover{
    background-color: #06AA48;


}

header{
    background-image: url(img/neymar-rebaixado.jpg);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: table;
}

header h1{
    color: black;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 55px;
}

